#datetime-picker {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;

    margin: 32px 8px 32px 32px;

    padding: 0 16px;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

#datetime-picker:hover {
    border-color: #000;
}

#datetime-picker:focus {
    border-color: #4e75ff;
    outline: none;
}

#datetime-picker:disabled {
    border-color: #808080;
    background: #fafafa;
}

button[data-start] {
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;

    background: #4e75ff;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;

    border: none;
    cursor: pointer;
}

button[data-start]:hover {
    background: #6c8cff;
}

button[data-start]:disabled {
    color: #989898;
    background: #cfcfcf;

}

.timer {
    margin-left: 32px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center
}

.value {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-transform: uppercase;
}

.label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2e2f42;
    text-transform: uppercase;
}
